* { padding: 0; margin: 0; font-weight: normal; }

html {
	font-family: 'Open Sans', sans-serif;
}

html, body { height: 100%; }

body {	
	text-align: left;
}

.headerwrap, header {
	height: 140px;
}

header, th {
	background: #730329;
	color: white;
}

.mainContent{
	padding: 5px;
}

.ultimatewrap {
	min-height: 100%;
	margin-bottom: -40px;
}

footer {
	background-color: #730329;
	height: 40px;
	color: white;
	text-align: center;
	font-weight: 300;
}

.headerwrap {
	position: relative;
}

nav {
	background: #b52936;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.wrapper, .headerwrap {
	max-width: 960px;
	margin: 0 auto;
}



.wrapper {
	padding-top: 20px;
}

.wrapper:after {
	content: "";
	display: block;
}

.wrapper:after {
	height: -140px;
}

h1 {
	font-weight: 300;
	color: white;
}

a {
	text-decoration: none;
}

.welcome h1 {
	color: #730329;
}

header h1 {
	padding: 20px 0;
	font-size: 300%;
}

table, td, tr, label {
	padding: 0;
	margin: 0;
	border: 0;
}

.table {
	border-collapse: collapse;
  	width: 100%;
}
.table th, .table td {
  	padding: 0.25em;
  	text-align: left;
  	border: 1px solid #ccc;
}
.table tbody tr:nth-child(odd) {
  	background: #efefef;
}

tr > td {
	vertical-align:top
}

input[type="text"], input[type="password"], input[type="email"], textarea {
	padding: 5px;
	border: 1px solid #ddd;
	font-size: 100%;
}

input[type="submit"], button {
	background: #b52936;
	color: white;
	padding: 10px 20px;
	border: 0;
	font-size: 100%;
}

input[type="submit"]:hover {
	background: #730329;
}

textarea {
	width: 500px;
	height: 300px;
}


ul {
	list-style-type: none;
}



nav a {
	color: white;
	font-weight: 300;
}

nav a:nth-child(n+2)::before { 
	content: " | ";
}

nav a:hover {
	color: #730329;
}

p {
	padding-bottom: 10px;
}

div .error{
	hidden;
	display: inline-block;
	border-style: outset;
	border-width: 2px;
	border-color: GoldenRod;
	color : DeepSkyBlue;
}