* { padding: 0; margin: 0; font-weight: normal; }

html {
	font-family: 'Open Sans', sans-serif;
}

html, body { height: 100%; }

body {	
	text-align: left;
}

<<<<<<< HEAD
/* color: #730329  */
.getStarted h2, .welcome h1, a, nav a:hover, #getStartedButton, .faqs h2 {
	color: #730329;
}


/* color: white */
.getStarted, .getStarted a:hover, header, th, footer, header h1, input[type="submit"], button, nav a {
	color: white;
}

=======
>>>>>>> FETCH_HEAD
.headerwrap, header {
	height: 180px;
}

header, th {
	background: #730329;
	color: white;
}

.mainContent{
	padding: 5px;
}

.ultimatewrap {
	min-height: 100%;
	margin-bottom: -40px;
}

footer {
	background-color: #730329;
	height: 40px;
	color: white;
	text-align: center;
	font-weight: 300;
}

.headerwrap {
	position: relative;
}

nav {
	background: #b52936;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

nav a {
	color: white;
	font-weight: 300;	
}

nav a:nth-child(n+2)::before { 
	content: " | ";
}

nav a:hover {
	color: #730329;
}

.wrapper, .headerwrap {
	max-width: 960px;
	margin: 0 auto;
}



.wrapper {
	padding: 20px 5px 50px 5px;
}

.wrapper:after {
	content: "";
	display: block;
}

.wrapper:after {
	height: -180px;
}

h1 {
	font-weight: 300;
}	


a {
	text-decoration: none;
}

.welcome h1 {
	color: #730329;
}

header h1 {
	padding: 20px 0;
	font-size: 400%;
	color: white;
}

table, td, tr, label {
	padding: 0;
	margin: 0;
	border: 0;
}

.table {
	border-collapse: collapse;
  	width: 100%;
}
.table th, .table td {
  	padding: 0.25em;
  	text-align: left;
  	border: 1px solid #ccc;
}
.table tbody tr:nth-child(odd) {
  	background: #efefef;
}

tr > td {
	vertical-align:top
}

input[type="text"], input[type="password"], input[type="email"], textarea {
	padding: 5px;
	border: 1px solid #ddd;
	font-size: 100%;
}

input[type="submit"], button {
	background: #b52936;
	color: white;
	padding: 10px 20px;
	border: 0;
	font-size: 100%;
	border-bottom: 5px solid #730329;
}

input[type="submit"]:hover {
	opacity: 0.8;
	
}

textarea {
	width: 500px;
	height: 300px;
}

ul {
	list-style-type: none;
}

p {
	padding-bottom: 10px;
}

strong {
	font-weight: 700;
}

.loginForm {
	text-align:right;
	float:right;
	//margin-top: 40px;
}

.loginForm input {
	padding: 1px;
}

.error{
	opacity: 0;
	display: inline-block;
	border-style: outset;
	border-width: 2px;
	border-color: GoldenRod;
	color : DeepSkyBlue;
}

.dashboard {
	background: #eee;
	background: -moz-linear-gradient(top,#eee,#ccc);
	background: -webkit-linear-gradient(top,#eee,#ccc);
	background: linear-gradient(top,#eee,#ccc);
	padding: 5px 10px;
	margin: 10px 0;
}
.dashboard label{
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
}
.dashboard a{
	color:#730329
}

<<<<<<< HEAD
.getStarted {
	background: #b52936;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 150%;
}

.getStarted h2 {
	font-size: 180%;
	padding-bottom: 10px;
}

.getStarted label span:nth-child(1) {
	width:200px;
	float:left;
}
/*
.getStarted input[type='text'],.getStarted input[type='password'] {
	margin-left: 160px;
}*/

#getStartedButton {
	background: white;
}

.faqs h2 {
	padding-top: 10px;	
}

.faqs p {
	line-height: 160%;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	margin-bottom: 10px;
}


=======
>>>>>>> FETCH_HEAD
/****************************************************
	Display numbered list bullets inside nice circles
****************************************************/

ol.circles-list {
	list-style-type: none;
	list-style-type: decimal !ie; /*IE 7- hack*/
	
	margin: 0;
	margin-left: 4em;
	padding: 0;
	counter-reset: li-counter;

}

ol.circles-list > li{
	position: relative;
	margin-bottom: 20px;
	padding-left: 0.5em;
	min-height: 3em;
	padding-top:1em;

}

ol.circles-list > li:before {
	position: absolute;
	top: 0;
	left: -1.33em;
	width: 1.2em;
	height: 1.2em;

	font-size: 2.5em;
	line-height: 1.2;
	text-align: center;
	color: #f5f5f5;

	border: 3px solid #c5c5c5;
	border-radius: 50%;
	background-color: #464646;
	content: counter(li-counter);
	counter-increment: li-counter;	
}

/*******************************************************/


/*
	Used for '?' next to input fields
*/
.whatsThis{
	background-color: yellow;
	font-weight: bold;
}

.help{
	font-size: 0.8em;
	font-style: italic;
}


/*
	The following styles the Mustache template used for the stub class
*/

.stub{	
    /*margin:5px;*/
    box-shadow: 0 2px 5px #000;
    background: #730329;

}

.stub:hover{
    box-shadow: 0 4px 10px #000;
}



.dashboard li{
	vertical-align: right;
	
    //color:white
	
}

.dashboard li:before{
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	width:20%;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}

.dashboard li.name:before {	
	content: "Name: ";	
}

.dashboard li.orcid:before {
	content: "Orcid: ";
}

.dashboard li.stubId:before {
	content: "Stub ID: ";
}

.dashboard li.description:before {
	content: "Description: ";
}

.dashboard li.datesubmitted:before {
	content: "Date Submitted: ";
	
}

.dashboard li.doi:before{
	content: "DOI: ";
}


.dashboard li.datedoi:before{
	content: "Date Completed: ";
}

ul{list-style-type:none}

.loginForm a{
	color: white;
}


/*
	End of Mustache template stub class styling
*/