* { padding: 0; margin: 0; font-weight: normal; }

html {
	font-family: 'Open Sans', sans-serif;
}

body {	
	text-align: left;
}

header {
	background: #730329;
	color: white;
}

.mainContent{
	padding: 5px;
}

.wrapper, .headerwrap {
	max-width: 960px;
	margin: 0 auto;
}

.wrapper {
	padding-top: 20px;
}

label {
	text-align:right;
}

h1 {
	font-weight: 300;
	color: white;
}

a {
	text-decoration: none;
}

.welcome h1 {
	color: #730329;
}

header h1 {
	padding: 20px 0;
	font-size: 300%;
}

table, td, tr, label {
	padding: 0;
	margin: 0;
	border: 0;
}

.table {
	border-collapse: collapse;
  	width: 100%;
}
.table th, .table td {
  	padding: 0.25em;
  	text-align: left;
  	border: 1px solid #ccc;
}
.table tbody tr:nth-child(odd) {
  	background: #efefef;
}



input[type="text"], input[type="password"], input[type="email"], textarea {
	padding: 5px;
	border: 1px solid #ddd;
	font-size: 100%;
}

input[type="submit"], button {
	background: #b52936;
	color: white;
	padding: 10px 20px;
	border: 0;
	font-size: 100%;
}

input[type="submit"]:hover {
	background: #730329;
}

tr > td {
	vertical-align:top
}

textarea {
	width: 500px;
	height: 300px;
}


ul {
	list-style-type: none;
}

nav {
	background: #b52936;
	padding: 5px;
}

nav a {
	color: white;
	font-weight: 300;
}

nav a:nth-child(n+2)::before { 
	content: " | ";
}

nav a:hover {
	color: #730329;
}