{{#stubs}}
<div class='dashboard'>
    
    <p><label>Title: </label>{{stubTitle}}</p>
    <p><label>Submitted: </label>{{datesubmitted}}</p>
    <p><label>DOI: </label>{{doi}}</p>
    <p><label>Views: </label>{{views}}</p>
    <p><label>Description: </label>{{description}}</p>
    <p>
        <a href='{{stubId}}' title='View'>View</a> | 
        <a href='edit/{{stubId}}' title='Edit'>Edit</a> <!--|
        <a href='delete/{{stubId}}' title='Delete'>Delete</a>-->
    </p>  
    
</div>
{{/stubs}}
