	<div class='dashboard'>
		<ul>								
			<li class='stubTitle' title="Stub title" alt="Stub title"><label>Title: </label>{{stubTitle}}</li>
			<li class='name' title="Name" alt="Name"><label>Author: </label><a href='profile/{{orcid}}' title="Profile" alt="Profile">{{firstName}} {{surname}}</a></li>
			<li class='orcid' title="OrcID" alt="OrcID"><label>Orcid: </label>{{orcid}}</li>
			<li class='stubId' title="Stub ID" alt="Stub ID"><label>Stub ID: </label>{{stubId}}</li>
			<li class='description' title="Description" alt="Description"><label>Description: </label>{{description}}</li>
			<li class='datesubmitted' title="Date submitted" alt="Date submitted"><label>Date Submitted: </label>{{datesubmitted}}</li>
			{{#doi}}<li class='doi' title="DOI" alt="DOI"><label>DOI: </label>{{doi}}</li>{{/doi}}
			{{#datedoi}}<li class='datedoi' title="Date the DOI was submitted" alt="Date the DOI was submitted"><label>Date the DOI was submitted: </label>{{datedoi}}</li>{{/datedoi}}
			<!-- hide so it's not fradulently increased by author
			<li class='views' title='views' alt='Views'><label>Views: </label>{{views}}</li>
			-->
		</ul>
	</div>
	
